{
	"presets": [
		"@babel/preset-typescript"
	],
	"plugins": [
		"@babel/plugin-transform-react-jsx",
		"@babel/plugin-proposal-numeric-separator",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-object-rest-spread",
		"transform-postcss"
	]
}
