.loading-content {
  display: block;
}

.loading-indicator {
  position: relative;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 2px;
  height: 4px;
  overflow: hidden;
}
.loading-indicator::before,
.loading-indicator::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 40%;
  background-color: #0980fe;
  transform: translateX(-100%);
}
.loading-indicator::before {
  animation: loading-indicator 2s ease 1s infinite;
}
.loading-indicator::after {
  animation: loading-indicator 2s infinite;
}

@keyframes loading-indicator {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(100%);
  }
}
