.root {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.root li {
  display: inline-block;
}
.root li:not(:last-child) {
  padding-right: 5px;
}
.root a {
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: transparent;
  padding: 0;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 3px;
}
.root .active a {
  background-color: #666;
  border: 1px solid #fff;
  color: #fff;
}
