body {
  --oracles-pagination-color: #fff;
  --oracles-pagination-color-active: #fff;
  --oracles-pagination-background: transparent;
  --oracles-pagination-background-active: #666;
}

.oracles-pagination {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.oracles-pagination li {
  display: inline-block;
}
.oracles-pagination li:not(:last-child) {
  padding-right: 5px;
}
.oracles-pagination a {
  display: block;
  height: 30px;
  width: 30px;
  background-color: transparent;
  line-height: 16px;
  padding: 7px 0;
  text-decoration: none;
  color: var(--oracles-pagination-color);
  border: 1px solid var(--oracles-pagination-color);
  background-color: var(--oracles-pagination-background);
  border-radius: 3px;
}
.oracles-pagination .active a {
  background-color: var(--oracles-pagination-background-active);
  border: 1px solid var(--oracles-pagination-color-active);
}